.header{

	min-height:100px;
    background-color:orange;

}

.wrapper{
      overflow:hidden;
    /*  border:5px solid black;*/
   }

.blog{
  float:left;	
  width:70%;
  min-height:200px;
   background-color:red;

}
.contact{
	float:right;
    width:25%;
    min-height:200px;
 background-color:cyan;

}
.wrapper{
 overflow:hidden; 
}
.single{
	width:33.33%;;
	min-height: 250px;
	background-color: purple;
	/* border:6px solid black; */
	 float:left;
}
.yellow{
       background-color:yellow; 
}
.purple{
  		background-color:purple;
}
.orange{
		background-color:orange;
}
.footer{
   
	min-height: 100px;
	background-color:green;
}
.box{
	width:200px;
	height: 200px;
	
}
.box1{
	background-color:blue

}
.box2{
	background-color: cyan;
    margin:100px;
    padding:100px;
      /*padding:100px; 
       padding: 10px 10px ;
       padding: 10px 10px 10px  ;
        padding: 10px 10px 10px 10px ;
        padding-top:;
        padding-right:;
        padding-left:;
        padding-bottom;

    margin:100px;
    margin: 100px 150px;
    margin:100px 150px 200px;
    margin: 100px 150px 200px 250px;
    margin-top:;
    margin-right:;
    margin:left:;
    margin-bottom:;
}*/

